
             p {
                text-align: center;

             }   
    
            body {
               background: #CCCCCC;
            }

           em strong {
               color: #FF0000;
            }

            h1 {
               text-align: center;

            }

            #tk {
              font-size: 20px;
            }

            #imagem {
               width: 100%;
            }

            .itens {
              font-style: italic;
            }