
             p {
                text-align: center;

             }   
    
            body {
               
            }

           em strong {
               color: #FF0000;
            }

             .titulo-principal {
               padding: 20px;
               
            }


            .titulo-meio {
               text-align: center;
            }


            #tk {
              font-size: 20px;
            }

            #imagem {
               width: 100%;
            }

            .itens {
              font-style: italic;
            }

            .beneficios {
               background: #FFFFFF;
               padding: 20px;
            }

            .principal {
               background: #CCCCCC;
               padding: 30px;
            }

            .imagem2 {
               width: 50%;
            }

            ul {
               display: inline-block;
               vertical-align: top;
               width: 20%;
               margin-right: 15%;
            }
